footer{
  width: 100%;
  height: 100px;
  background-color: rgba(128, 128, 126);

  padding: 20px;
  display: flex;
  align-items: center;
  margin: -10px;

}

#apply_button{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
